@model Core.Application.Contracts.DataTransferObjects.ManageUserPermissionsDto

@{
    ViewData["Title"] = "User Permissions";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">

    <div class="card-header">
        <form asp-action="ManageUserPermissions" method="get">
            <h3 class="card-title">Manage Permissions for User: <b>@Model.UserName</b></h3>
            <div class="float-right">
                <p>
                    Find by name: <input type="text" name="permissionValue" value="@ViewData["CurrentFilter"]" />
                    <input type="submit" value="Search" class="btn btn-default" /> |
                    <input asp-for="UserId" type="hidden" />
                    <a asp-action="ManageUserPermissions" asp-route-userId="@Model.UserId">Back to Full List</a>
                </p>
            </div>
        </form>
    </div>
    <form method="post" asp-action="ManageUserPermissions" class="d-inline">
        <div class="card-body">
            <input asp-for="@Model.UserId" type="hidden" />
            <input asp-for="@Model.UserName" type="hidden" />
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>
                            Permission Name
                        </th>
                        <th>
                            Status
                        </th>
                    </tr>
                </thead>
                <tbody>
                    @for (var i = 0; i < Model.ManagePermissionsDto.Count(); i++)
                    {
                        <tr>
                            <td class="text-center">
                                <input asp-for="@Model.ManagePermissionsDto[i].Value" type="hidden" />
                                @Model.ManagePermissionsDto[i].Value
                            </td>
                            <td>

                                <div class="form-check m-1">
                                    <input asp-for="@Model.ManagePermissionsDto[i].Checked" class="form-check-input" />
                                </div>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="card-footer clearfix">
            @{
                var prevDisabled = !Model.ManagePermissionsDto.HasPreviousPage ? "disabled" : "";
                var nextDisabled = !Model.ManagePermissionsDto.HasNextPage ? "disabled" : "";
            }
            <div class="row">
                <div class="col-sm-9">
                    <ul class="pagination float-right">
                        <li>
                            <a asp-action="ManageUserPermissions"
                               asp-route-userId="@Model.UserId"
                               asp-route-pageNumber="@(Model.ManagePermissionsDto.PageIndex - 1)"
                               class="btn btn-default @prevDisabled">
                                Previous
                            </a>
                        </li>
                        @for (var i = 1; i <= Model.ManagePermissionsDto.TotalPages; i++)
                        {
                            <li class="page-item @(i == Model.ManagePermissionsDto.PageIndex ? "active" : "")" style="z-index: 0;">
                                <a asp-action="ManageUserPermissions"
                                   asp-route-userId="@Model.UserId"
                                   asp-route-pageNumber="@i"
                                   class="page-link">@i</a>
                            </li>
                        }
                        <li>
                            <a asp-action="ManageUserPermissions"
                               asp-route-userId="@Model.UserId"
                               asp-route-pageNumber="@(Model.ManagePermissionsDto.PageIndex + 1)"
                               class="btn btn-default @nextDisabled">
                                Next
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="col-sm-3" style="padding: 20px 20px 0px 0px">
                    <button type="submit" id="save" class="btn bg-primary">
                        <i class="fa fa-check"></i>
                        Save
                    </button>
                </div>
            </div>
            

        </div>
    </form>
</div>

