<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="x-ua-compatible" content="ie=edge" />

    <title>@ViewData["Title"] | Starter</title>
    <link rel="stylesheet" href="~/adminAssets/plugins/fontawesome-free/css/all.min.css">
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700" rel="stylesheet">
    <link rel="stylesheet" href="~/adminAssets/css/adminlte.min.css">

    @await RenderSectionAsync("Stylesheets", false/*required*/)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <partial name="_NavBar" />
        <partial name="_SideBar" />

        <div class="content-wrapper">
            <div class="content-header">
                <partial name="_Response" />
                <div class="container-fluid">
                    <div class="row mb-2">
                        <div class="col-sm-6">
                            <h1 class="m-0 text-dark">@ViewData["Title"]</h1>
                        </div>
                        <div class="col-sm-6">
                            <ol class="breadcrumb float-sm-right">
                                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="@ViewData["controller"]" asp-action=""> @ViewData["controller"] </a></li>
                                <li class="breadcrumb-item"><a asp-area="Admin" asp-controller="@ViewData["controller"]" asp-action="@ViewData["action"]"> @ViewData["action"] </a></li>
                            </ol>
                        </div>
                    </div>
                </div>

            </div>
            <div class="content">
                <div class="container-fluid">
                    @RenderBody()
                </div>
            </div>
        </div>
        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
        <partial name="_Footer" />
    </div>
    <script src="~/adminAssets/plugins/jquery/jquery.min.js"></script>
    <script src="~/adminAssets/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="//cdn.jsdelivr.net/npm/sweetalert2@10"></script>
    <script src="~/adminAssets/js/adminlte.min.js"></script>
    @await RenderSectionAsync("Scripts", false/*required*/)
</body>
</html>