@model Core.Application.Contracts.Response.Response<Core.Application.Contracts.Response.PaginatedList<Core.Application.Contracts.DataTransferObjects.RoleDto>>

@{
    ViewData["Title"] = "View Roles";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="card">
    <div class="card-header">
        <h3 class="card-title">Roles</h3>
        <a asp-action="Add" class="float-right">Add New Role</a>
    </div>
    <div class="card-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th>
                        Id
                    </th>
                    <th>
                        Name
                    </th>
                    <th>
                        Description
                    </th>
                    <th>
                        Action
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.Data)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => item.Id)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Name)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => item.Description)
                        </td>
                        <td>
                            <a asp-action="ManageRolePermissions" asp-route-roleId="@item.Id">Manage Permissions</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="card-footer clearfix">
        @{
            var prevDisabled = !Model.Data.HasPreviousPage ? "disabled" : "";
            var nextDisabled = !Model.Data.HasNextPage ? "disabled" : "";
        }
        <div class="row">
            <div class="col">
                <ul class="pagination float-right">
                    <li>
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.Data.PageIndex - 1)"
                           class="btn btn-default @prevDisabled">
                            Previous
                        </a>
                    </li>
                    @for (var i = 1; i <= Model.Data.TotalPages; i++)
                    {
                        <li class="page-item @(i == Model.Data.PageIndex ? "active" : "")" style="z-index: 0;">
                            <a asp-action="Index"
                               asp-route-pageNumber="@i"
                               class="page-link">@i</a>
                        </li>
                    }
                    <li>
                        <a asp-action="Index"
                           asp-route-pageNumber="@(Model.Data.PageIndex + 1)"
                           class="btn btn-default @nextDisabled">
                            Next
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>



